[Unit]
Description=Mattermost
After=network.target

[Service]
Type=simple
ExecStart=/opt/mattermost/bin/mattermost
Restart=always
RestartSec=10
WorkingDirectory=/opt/mattermost
User=mattermost
Group=mattermost
LimitNOFILE=49152
Environment=MM_FEATUREFLAGS_POSTPRIORITY=true
Environment=MM_FEATUREFLAGS_WEBSOCKETEVENTSCOPE=true
Environment=MM_FEATUREFLAGS_CHANNELBOOKMARKS=true
Environment=MM_FEATUREFLAGS_CUSTOMPROFILEATTRIBUTES=true
Environment=MM_SERVICEENVIRONMENT=test

[Install]
WantedBy=multi-user.target
